# Игнорируемые файлы по умолчанию
/shelf/
/workspace.xml
# Игнорируемые файлы Rider
/.idea.BaseClasses.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# HTTP-клиент на основе редактора
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
