<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
 <RunConfiguration>
   <EnvironmentVariables>
     <OPENAI_API_KEY>123</OPENAI_API_KEY>
     <OPENAI_ENDPOINT>http://127.0.0.1:1234/v1</OPENAI_ENDPOINT>
     <OPENAI_MODEL>qwen/qwen3.6-35b-a3b</OPENAI_MODEL>
   </EnvironmentVariables>
 </RunConfiguration>
</RunSettings>